# Build outputs
/bin/
/obj/
/[Rr]elease/
/[Dd]ebug/
/TestResults/
/*.nupkg

# IDE і редактори
*.suo
*.user
*.userosscache
*.vs/
*.vscode/
*.idea/

# Логи та інші тимчасові файли
*.log
*.cache
*.tmp
*~bak

# Система
.DS_Store
Thumbs.db
