## Output каталоги
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

## Build artifacts
*.dll
*.exe
*.app
*.pdb
*.cache
*.ilk
*.iobj
*.ipdb
*.iuser
*.tmp
*.tmp_proj

## Конфігураційні артефакти публікації
publish/
out/
*.Publish.xml
*.pubxml
*.publishproj

## NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json

## Visual Studio / .NET
.vs/
*.user
*.suo
*.sln.docstates
*.sln.ide
*.VC.db

## Rider / ReSharper / JetBrains
.idea/
*.sln.iml
*.DotSettings.user
.ReSharper*/

## Visual Studio for Mac
*.pidb
*.userprefs

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Entity Framework
*.edmx.diagram
*.edmx.sql
Migrations/  # лише якщо не комітиш

## Azure build
csx/
*.build.csdef

## User-specific
*.ntvs_analysis.dat
*.njsproj.user
appsettings.*.json.user
launchSettings.json

## Test results
TestResults/
*.TestResults

## dotenv
.env
.env.*

## Windows / macOS
Thumbs.db
ehthumbs.db
.DS_Store
Desktop.ini

## System
*.bak
*.cache
*.swp
*.sdf
*.tmp
*.json~

## Local secrets / tools
secrets.json
.vscode/
*.vscode/*

## Others
node_modules/
dist/
*.db
*.sqlite
*.mdf
*.ldf
*.csv
*.tsv
